.body{
    margin: 0;
    padding: 0;
}

.wrapper{
    border: 1px solid #F08080;
    height: auto;
    width: 90%;
    margin: 0 auto;

}
.header{
    background-image: url("../images/banner.jpg");
   
    border: 1px solid #F08080;
    height: 200px;
    width: 100%; 
}

.menu{
    border: 1px solid #F08080 ;
    height: 50px;
    width: 100%;
    background: #FFE4E1;
}
ul.list_menu {
    padding: 0;
    margin: 0;
    width: 60%;
    list-style: none;
    margin: 0 auto;
    line-height: 27px;
}
ul.list_menu li:hover {
    background: darkseagreen;
}
ul.list_menu li a {
    text-decoration: none;
    text-align: center;
    color: firebrick;
}
ul.list_menu li {
    float: left;
    margin: 7px;
    padding: 5px;
}


#main{
    border: 1px solid #F08080;
    height: auto;
    width: 100%;
   
}

.sidebar{
    border: 1px solid #A0522D;
    height: 664px;
    width: 20%;
    margin-top: 5px;
    margin-left: 5px  ;
    float: left;
    background: snow;

}
ul.list_sidebar {
    padding: 0;
    margin: 0;
    width: 100%;
    list-style: none;
    line-height: 27px;
}
ul.list_sidebar li:hover {
    background: darkseagreen;
}
ul.list_sidebar li a {
    text-decoration: none;
    text-align: left;
    color: firebrick;
    display: block;
}
ul.list_sidebar li {
   
    margin: 7px;
    padding: 5px;
}


.maincontent{
    border: 1px solid #A0522D;
    height: auto;
    width: 78%;
    margin-top: 5px;
    margin-left: 10px  ;
    float: right;
  
}
ul.product_list {
    padding: 0;
    margin: 0;
    list-style: none;
    width: 100%;

}

ul.product_list li {
    height: 300px;
    width: 18%;
    border: 1px dashed #000;
    margin: 5px;
    float: left;
    background: #FFF0F5;
    height: 292px;
    
}

ul.product_list a {
    text-decoration: none;
}
ul.product_list li img {
    width: 100%;
}

p.price_product {
    text-align: center;
    font-size: 18px;
    font-weight: bold;
    color: blue;
}
p.title_product {
    text-align: center;
    margin: revert;
    font-size: 15px;
    font-weight: bold;
    color: brown;
}

.footer{
    border: 1px solid #F08080;
    height: 150px;
    width: 100%;
    background: #FFE4E1;
}
p.footer_copyright {
    text-align: center;
    font-size: 17px;
    color: brown;
}


.clear{
    clear: both;
}
